@import url('https://fonts.cdnfonts.com/css/soft-compound');

.title {
    font-size: clamp(21px, 1.8rem, 2rem);
    font-family: 'Soft Compound', sans-serif;
}

.bg-backgroud {
    background-image: linear-gradient(to right top, #051937, #011538, #011038, #030938, #070037);
}

.icon-sheets {
    width: 40px;
}

.btn-category {
    width: 100%;
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    font-size: clamp(21px, 1.3rem, 1.5rem);
}

.menu-category {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: 1s height;
}

.open-category {
    height: 100% !important;

}

.btn-3d{
    border: none;
    padding: 10px;
    background-color: #011538 !important;
    box-shadow: 0px 10px 0px #002384;
}

.bg-form{
    background-image: linear-gradient(rgb(13, 13, 100), rgb(28, 28, 197));
}

.btn-3d:active{
    position: relative;
    top: 10px;
    box-shadow: 0 !important;
}

.hidde{
 display: none;
}